menu "Tensometer Configuration"

    config TENSOMETER_MOVING_AVERAGE_SIZE
        int "Tensometer Moving Average Size"
        default 256
        help
            Current window size for moving average filter on tensometer data.
            Larger values reduce noise but increase response time.

    config TENSOMETER_TEST_MODE
        bool "Enable Tensometer Test Mode"
        default n
        help
            Enable periodic logging of tensometer values for testing.

    config TENSOMETER_TEST_FREQUENCY
        int "Tensometer Test Frequency (Hz)"
        default 1
        depends on TENSOMETER_TEST_MODE
        help
            Frequency in Hz to log measurement.
endmenu
